/*CSS file
Cascading Style Sheets
Look and feel of your site
*/

/*this is a comment*/

/*this is how you import google font inside a css file*/
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
/*font-family: 'Flow Circular', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
/*for this font copy this ---> font-family: 'Flow Circular', cursive; */

p /*selector*/ {
    color/*property*/:red/*value*/;
}

body {
    display: flex;
    flex-wrap: wrap;/*gets content inline when there is room for it otherwise makes them go in another row*/
}

div {

    margin: 10px;
    /*box has width and height that you can change like this*/
    /*min and max width and hight -> that way your box can be standardised for multiple screens, it looks good everywere*/
    width: 250px;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.external {
    /*text, mostly*/
    /*this is how you manipulate background color of the box(element)*/
    background-color: rgb(31, 82, 141);
    color: rgb(252, 252, 252); /*text color*/
    font-family: "Audiowide", sans-serif;
    font-weight: normal; /*100-900*/
    font-style: italic; /*style*/
    font-variant:normal;/*small-caps*/
    /*text-align: center; right; left;*/
    /*vertical-align: middle; top; bottom; // baseline; sub; super; -10px*/
    text-decoration: overline underline ;/*line-through; none; inherit; blink(This value is valid but is deprecated and most browsers ignore it.)*/
    text-shadow: -1px -2px 0.5em rgb(124, 124, 124);/*blur all ower*/
    /*
    first – the X-coordinate
    secound – the Y-coordinate
    third – the blur radius
    0.5em - blur all over
    grey – the color of the shadow
    */

}



#id /*id selector*/ {

    background-color: chocolate;
    color: aliceblue;
    text-decoration: blink; 
      

}

.class {

    background-color:rosybrown;
    color: aliceblue;
}

#id .firstClassInId {
    background-color: rgb(201, 157, 37);
    color: rgb(255, 255, 255);
}


/*problem - pitat Vjerana
.alignDiv {
    background-color: aquamarine;
    display: inline-table;
    align-items: center;
}

.divToAlign {
    background-color: rgb(51, 143, 143);
    height: 20px;
    width: 20px;
    display: table-cell;
    vertical-align: middle;
    
}
*/


.indent{

    font-family: 'Flow Circular', cursive;
    background-color: aquamarine;
    text-indent: 25px;
}

.indent em {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}


.transform {
    background-color: darksalmon;
    color:floralwhite ;
    text-transform: capitalize;/*capitalizes first character of every word*/
}

.upper {
    background-color: darksalmon;
    color:floralwhite ;
    text-transform: uppercase;
}

.lower {
    background-color: darksalmon;
    color:floralwhite ;
    text-transform: lowercase;
}

.letterSpacing {
    background-color: lightgrey;
    color: rgb(160, 76, 66);
    width: 500px;
    display:table;
    


}

.letterSpacing p.normal {
    
    letter-spacing: normal;
}

.letterSpacing p.positive {
    letter-spacing: 4px;

}

.letterSpacing p.negative {
    letter-spacing: -1px;
}

.wordSpacing {
    background-color: lightgrey;
    color: rgb(160, 76, 66);
    width: 500px;
    display:table;
    /*px, pt, pc, cm, mm, inches, em, and ex*/


}

.wordSpacing p.normal {
    
    word-spacing: normal;
}

.wordSpacing p.positive {
    word-spacing: 15px;

}

.wordSpacing p.negative {
    word-spacing: -4px;
}


/*box model*/

/*order of box properties = top -> right -> bottom -> left*/

.bproperties {
    background-color: skyblue;
    color: salmon;
}

.bproperties p.textBorder {
    border: 5px dashed salmon; /*width style color*/
    padding: 10px;

}

.bgimage {
    
    background-image: url("/slike/velikaSlika.jpg");
    /*background-repeat: repeat-x;
      background-repeat: repeat-y;*/
    background-attachment: fixed;
}

.bgimage2 {
    
    background-image: url("/slike/velikaSlika.jpg");
    background-attachment: scroll;
}
/*List style*/
.listStyle {
    background-color: darksalmon;
    color:rgb(160, 76, 66);
    width: 450px;

}

.listStyle .lower-alpha {
    list-style-type: lower-alpha;
}

.listStyle .circle {
    list-style-type: circle;
}

.listStyle .square {
    list-style-type: square;
}

.listStyle .position {
    list-style-image: url("/slike/miniSlika.jpg");
    list-style-position: inside;
}

.listStyle .all {
    list-style: square outside none; /*tyle; position; image*/
}
/*Table style*/
.table {
    background-color: rgb(31, 82, 141);
    color: rgb(252, 252, 252);
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.table .first {
    caption-side: top; /*bottom*/
}

.table .secound {
    border-collapse: separate;
    empty-cells: show; /*hide*/
}
/*Table layout*/
.tableSecound {
    background-color: aliceblue;
    color: darkcyan;
    display: block;
    height: 200px;
    width: 350px;
    

}

.tableSecound table {
    border-collapse: separate;
    border: 1px solid gray;
    width: 100%;
    
}

.tableSecound   td {
    border: 1px solid gray;
}

.tableSecound .auto {
    table-layout: auto;/*The table layout is set to auto by default.*/

}

.tableSecound .fixed {
    table-layout: fixed;
}


/*Link style*/

/*
a:link - defines the style for normal unvisited links
a:visited - defines the style for visited links
a:active - a link becomes active once you click on it
a:hover - a link is hovered when the mouse is over it
*/

.links {
    background-color: azure;
    color: aquamarine;
}

.links .hover a:hover { /*:hover is 1 of 4 pseudo selectors*/
    color:brown;
    text-decoration: none; /*removes all decorations(this time just underline)*/
    /*
    border:none - removes border from images with links
    outline:none - removes the dotted border on clicked lines in IE
    */
}

.mouseCursor {
    background-image: url("/slike/mouseCursor.jpg");
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 200px;
    width: 350px;
    color: darkorange;
}

.mouseCursor .cursorHelp {
    cursor: help;/*many more*/
    
}


